<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>SELT</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<header>
  <nav class="navbar navbar-light bg-primary">
    <div class="av navbar-nav navbar-right">
      <a class="navbar-brand" th:text="${'Zalogowany użytkownik: ' +username}"></a>
      <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                class="navbar-brand"/></strong></form>
      <input type="button" value="Powrót" name="backButton"
             onClick="javascript:window.location.href='/index'" class="navbar-brand">
    </div>
  </nav>
</header>

<div class="container">
  <h3>Dodaj nowy toner</h3>
  </hr>
  <form th:action="@{/saveToner}" th:object="${toner}" method="post">
    <input type="text" th:field="*{tonerName}" class="form-control col-4 mb-4" placeholder="Nazwa">

    <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
    <input type="hidden" th:field="*{id}"/>
  </form>
  <hr/>
  <a th:href="@{/list-toners}">Back to list</a>
</div>

<!--<form th:action="@{/addLocation}" th:object="${location}" method="post">
  <td>Lokalizacja: </td>
  <input id="location" th:field="*{nameOfLocation}" type="text">

  <input type="button" value="Powrót" name="backButton"
         onClick="javascript:window.location.href='/index'" class="myButton shortButton">
  <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
</form>!-->

</body>
</html>
