<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>
<body>
<form th:action="@{/addDepartment}" th:object="${department}" method="post">
    <p class="error" th:text="${commonErrro}"></p>

    <td>Nazwa działu:</td>
    <input id="nameOfDepartment" type="text" th:field="*{nameOfDepartment}">

    <td>MPK:</td>
    <input id="MPK" type="text" th:field="*{MPK}">

    <td>Lokalizacja:</td>
    <select id="location" th:field="*{locations}">
        <option th:each="key : ${locationSList}"
                th:value="${key.id}"
                th:text="${key.nameOfLocation}">

        </option>
    </select>

    <input type="button" value="Powrót" name="backButton"
           onClick="javascript:window.location.href='/index'" class="myButton shortButton">
    <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
</form>

---------------------DZIAŁY----------------------------
<table border="1">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Lokalizacja</th>
        <th>MPK</th>
    </thead>
    <tbody>
    <tr th:each="key : ${departmentList}">

        <td th:text="${key.nameOfDepartment}"></td>
        <td th:text="${key.Locations}"></td>
        <td th:text="${key.MPK}"></td>


    </tr>
    </tbody>
</table>
</body>
</html>
