<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<header>
    <nav class="navbar navbar-light bg-primary">
        <div class="av navbar-nav navbar-right">
            <a class="navbar-brand" th:text="${'Zalogowany użytkownik: ' +username}"></a>
            <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                      class="navbar-brand"/></strong></form>
        </div>
    </nav>
</header>

<form th:action="@{/addPhoneNumber}" th:object="${number}" method="post">

    <td>Numer telefonu</td>
    <input id="phonenumber" th:field="*{number}" type="number">
    <td>Numer SIM: </td>
    <input id="SIMnumber" th:field="*{SIMNumber}" type="text">
    <td>PIN: </td>
    <input id="PINnumber" th:field="*{PIN}" type="text">
    <td>PUK: </td>
    <input id="PUKnumber" th:field="*{PUK}" type="text">


    <input type="button" value="Powrót" name="backButton"
           onClick="javascript:window.location.href='/index'" class="myButton shortButton">
    <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
</form>

</body>
</html>
