<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>
<body>
<form th:action="@{/addUser}" th:object="${user}" method="post">

    <td>Imi i nazwisko: </td>
    <input id="fullname" type="text" th:field="*{fullname}">

    <td>Login: </td>
    <input id="username" type="text" th:field="*{username}">

    <td>Hasło: </td>
    <input id="password" type="password" th:field="*{password}">

    <td>Aktywny: </td>

    <input id="enabled" type="checkbox" th:field="*{enabled}">

    <select id="roles" th:field="*{roles}">
        <option value="">Rodzaj konta:</option>
        <option th:each="Key : ${roleList}"
                th:value="${Key.id}"
                th:text="${Key.getRole()}"></option>
    </select>
    </td>


    <input type="button" value="Powrót" name="backButton"
           onClick="javascript:window.location.href='/index'" class="myButton shortButton" >
    <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">

</form>

</body>
</html>
