<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<header>
    <nav class="navbar navbar-light bg-primary">


            <a class="navbar-brand" href="#">
            <img th:src="@{jpg/LOGO - SELT/SELT - logo.jpg}" width="30" height="30" alt="">
        </a>
        <div class="av navbar-nav navbar-right">

            <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                      class="navbar-brand"/></strong></form>
        </div>
    </nav>
</header>
<a class="navbar-brand" th:text="${'Zalogowany użytkownik: ' +username}"></a>
<img th:src="@{/src/main/java/logo.jpg}" width="30" height="30">
<h1>Menu</h1>
<div sec:authorize="hasAuthority('ADMIN')">
    <!-- <a th:href="@{/addLaptop}">Dodaj laptopa</a><br>
     <a th:href="@{/addWindowsLicense}">Dodaj licencje Windows</a><br>
     <a th:href="@{/addOfficeLicense}">Dodaj licencje Office</a><br>
     <a th:href="@{/showLaptops}">Wyświetl laptopy</a><br>
     <a th:href="@{/addEmployee}">Dodaj pracownika</a><br>
     <a th:href="@{/addComputer}">Dodaj komputer</a><br>
     <a th:href="@{/showUserHardware}">Pokaz sprzęty pracownika</a><br>
     <a th:href="@{/addPhone}">Dodaj telefon</a><br>
     <a th:href="@{/addPhoneNumber}">Dodaj SIM</a><br>-->
    <a th:href="@{/list-departments}">Dział</a><br>
    <a th:href="@{/addLocation}">Dodaj lokalizacje</a><br>
    <a th:href="@{/Toner}">Dodaj toner</a><br>
    <a th:href="@{/list-printers}">Drukarki</a><br>
    <a th:href="@{/deleteToner}">Usuń toner</a><br>
    <a th:href="@{/Magazine}">Magazyn</a><br>
    <a th:href="@{/showMagazine}">Pokaż magazyn</a><br>
</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/list-users}">Zarządzanie użytkownikiem</a><br>
    <a th:href="@{/Raport}">Raport</a><br>
    <a th:href="@{/help}">Pomoc</a><br>
</div>

</body>
</html>
