<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<header>
    <nav class="navbar navbar-light bg-primary">
                <div class="av navbar-nav navbar-right">
                    <a class="navbar-brand" th:text="${'Zalogowany użytkownik: ' +username}"></a>
            <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                      class="navbar-brand"/></strong></form>
        </div>
    </nav>
</header>
<h1>Menu</h1>
<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/addLaptop}">Dodaj laptopa</a><br>
    <a th:href="@{/addWindowsLicense}">Dodaj licencje Windows</a><br>
    <a th:href="@{/addOfficeLicense}">Dodaj licencje Office</a><br>
    <a th:href="@{/showLaptops}">Wyświetl laptopy</a><br>
    <a th:href="@{/addEmployee}">Dodaj pracownika</a><br>
    <a th:href="@{/addUser}">Dodaj użytkownika</a><br>
    <a th:href="@{/addDepartment}">Dodaj dział</a><br>
    <a th:href="@{/addLocation}">Dodaj lokalizacje</a><br>
    <a th:href="@{/addComputer}">Dodaj komputer</a><br>
    <a th:href="@{/showUserHardware}">Pokaz sprzęty pracownika</a><br>
    <a th:href="@{/addToner}">Dodaj toner</a><br>
    <a th:href="@{/addPhone}">Dodaj telefon</a><br>
    <a th:href="@{/addPhoneNumber}">Dodaj SIM</a><br>
    <a th:href="@{/addPrinter}">Dodaj drukarke</a><br>
    <a th:href="@{/deleteToner}">Usuń toner</a><br>
    <a th:href="@{/updateToner}">Aktualizuj toner</a><br>
    <a th:href="@{/Magazine}">Magazyn</a><br>
    <a th:href="@{/showMagazine}">Pokaż magazyn</a><br>
</div>
</div>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/changepassword}">Zmień hasło--nie działa</a><br>
    <a th:href="@{/raport}">Raport</a><br>
    <a th:href="@{/help}">Pomoc</a><br>
</div>
</div>
</body>
</html>
