<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SELT</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script>
    function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("myCheck");
  // Get the output text
  var text = document.getElementById("text");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}
</script>
<body>
<header>
    <nav class="navbar navbar-light bg-primary">
        <div class="av navbar-nav navbar-right">

            <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                      class="navbar-brand"/></strong></form>
            <input type="button" value="Powrót" name="backButton"
            onClick="javascript:window.location.href='/index'" class="navbar-brand">
        </div>
    </nav>
</header>
<a class="navbar-brand" th:text="${'Zalogowany użytkownik: ' +username}"></a>
<div class="container">
<form th:action="@{/list-printers}" th:object="${temp}" method="post">




        <h3>Lista liczników</h3>

        <hr/>
        <a th:href="@{/addPrinterForm}" class="btn btn-primary">Dodaj drukarke</a>
      <input id="search" th:field="*{tempString}" type="text" class="btn btn-outline-dark">
        <input type="submit" value="Szukaj" name="searchButton" class="btn btn-primary">
        <a class="navbar-brand" th:text="${allert}"></a>
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
            <tr style="text-align: center; ">

                <th>Producent</th>
                <th>Model</th>
                <th>Adres IP</th>
                <th>Adres MAc</th>
                <th>Numer seryjny</th>
                <th>Nr. inwentarzowy</th>
                <th>Użytkownik</th>
                <th>Dział</th>
                <th>Toner</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="key : ${printerList}" style="text-align: center; ">

                <td th:text="${key.manufacturer}"></td>
                <td th:text="${key.model}"></td>
                <td th:text="${key.IPAdress}"></td>
                <td th:text="${key.MACAdress}"></td>
                <td th:text="${key.serialNumber}"></td>
                <td th:text="${key.inventoryNumber}"></td>
                <td th:text="${key.user}"></td>
                <td th:text="${key.getDepartment().nameOfDepartment}"></td>
                <td th:text="${key.getToner().tonerName}"></td>
                <td><a th:href="@{/deletePrinter/{id}(id=${key.id})}" class="btn btn-danger">Usuń</a></td>
                <td>
                    <a th:href="@{/showUpdateForm(printerId=${key.id})}" class="btn btn-success">Update</a>
                </td>
                <td>
                    <a th:href="@{/showInfoForm(id=${key.id})}" class="btn btn-info">Info</a>
                </td>
            </tr>
            </tbody>
        </table>

</form>
<!--Dodaj liczniki: <input type="checkbox" id="myCheck" onclick="myFunction()">
    <form th:action="@{/saveOid}" th:object="${oid}" method="post" style="display:none">
       <input th:field="*{oidName}" type="text" class="form-control col-4 mb-4" placeholder="Nazwa">
        <input th:field="*{oid}" type="text" class="form-control col-4 mb-4" placeholder="Oid">
    </form> --> </div>
</body>
</html>
