<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${allert}"></p>
<p>Dodaj do magazynu ilość</p>
<!-- <form th:action="@{/addMagazine}" th:object="${magazine}" method="post">

    <td>Toner</td>

    <select  id="dodaj" th:field="*{id}">
        <option value="">Wybierz: </option>
        <option th:each="Key : ${tonerList}"
                th:value="${Key.id}"
                th:text="${Key}"></option>
    </select>
    </td>
    <input id="newtoner" th:field="*{count}" type="text">
    <input type="button" value="Powrót" name="backButton"
           onClick="javascript:window.location.href='/index'" class="myButton shortButton">
    <input type="submit" value="Aktualizuj" name="saveButton" class="mySubmitButton">
</form>-->
<p>Wydaj toner.</p>
<form th:action="@{/removeMagazine}" th:object="${printers}" method="post">

    <td>Drukarka:</td>
    <select id="wydaj" th:field="*{id}">
        <option value="">Wybierz: </option>
        <option th:each="Key : ${printer}"
                th:value="${Key.id}"
                th:text="${Key.model}"></option>
    </select>


    </td>

    <input id="subtoner" th:field="*{temp}" type="text">
        <input type="button" value="Powrót" name="backButton"
               onClick="javascript:window.location.href='/index'" class="myButton shortButton">
        <input type="submit" value="Aktualizuj" name="saveButton" class="mySubmitButton">

    </form>

</form>


</body>
</html>
